<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="login.css">
    <title>login</title>
</head>
<body>
<div class="container">
    <img src="이미지/로고.png">
    {% if error %}
    {{error}}
    <br><br>
    {% endif %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        Username:
        <br>
        <input name="username" type="text">
        <br>
        Password:
        <br>
        <input name="password" type="password">

        <br><br>
    </form>
    <input class="btn" type="submit" value="로그인">
    <hr>
    <input type="submit" value="아이디찾기">
    <input type="submit" value="비밀번호찾기">
    <input type="submit" value="회원가입">
</div>
</body>
</html>