<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <title>XMLHttpRequest send file demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--set Document Mode to IE=edge -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Le styles -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        
    </head>

    <body>

    <div id="driver-uploader-detail" style='width:500px; margin:0 auto;'>
        <div class='page-header'><h2>XMLHttpRequest send file demo</h2></div>
        <input id="driver-uploader-path"  type="file" class="filestyle" data-icon="true" data-buttonText="Browse" name="driver_file">       
        &nbsp;
        <span id="driver-uploader-success-alert" class='text-success' style="display:none">Success!</span>
        <span id="driver-uploader-failure-alert" class='text-danger' style="display:none">Failed!</span>
    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('#driver-uploader-path').change(function(){
            var file = this.files[0];
            filename = '';
            if('name' in file)
            filename= file.name;
            else
            filename = file.fileName;
            var xhr = new XMLHttpRequest();
            (xhr.upload || xhr).addEventListener('progress', function(e) {
                var done = e.position || e.loaded
                var total = e.totalSize || e.total;
                console.log('xhr progress: ' + Math.round(done/total*100) + '%');
            });
            xhr.addEventListener('load', function(e) {
                data = JSON.parse(this.responseText);
                if(this.status != 200){
                $('#driver-uploader-failure-alert').show();
                return;
                }
                $('#driver_source').val('Flat file on idisas');
                $('#driver_name').val(data['file_remote_path']).blur();
                $('#driver-uploader-success-alert').show();
            });
            xhr.open('post', '/your-sever-url', true);
            var fd = new FormData();
            fd.append("filename", filename);
            fd.append("drive_file", file);
            xhr.send(fd);
        });
    });
    </script>
    
    </body>
</html>
