{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<link rel=stylesheet href="{% static 'parsing.css' %}"> 

<body>
    <div class="container" id="title">
        <h1>검색 결과</h1>
        <h2>{{ title }}</h2>
            <div class="mapnlocation">
                <div id="map" style="top:3px; flex:1; height:400px;"></div>
                <div style="flex:1.5;" class = "location">
                    촬영장소 :{{contents|linebreaksbr}}
                </div>
            <br><br><br>
    </div>
    <div class="container" id="map">
        
        <br>
    
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5782fe6c09631f4d135bb41e40183ad6&libraries=services"></script>
        <script>
        // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
        var infowindow = new kakao.maps.InfoWindow({ zIndex: 1 });

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                level: 14 // 지도의 확대 레벨
            };

        // 지도를 생성합니다    
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 장소 검색 객체를 생성합니다
        var ps = new kakao.maps.services.Places(); 
        </script>

    {% for content in contents%}
    <script>
        // 키워드로 장소를 검색합니다
        ps.keywordSearch('{{content}}', placesSearchCB);


        // 키워드 검색 완료 시 호출되는 콜백함수 입니다
        function placesSearchCB(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {

                // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                // LatLngBounds 객체에 좌표를 추가합니다
                var bounds = new kakao.maps.LatLngBounds();

                for (var i = 0; i < data.length; i++) {
                    displayMarker(data[i]);
                    bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
                }
            }
                //지도에 마커를 표시하는 함수입니다
                function displayMarker(place) {
                    
                    // 마커를 생성하고 지도에 표시합니다
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: new kakao.maps.LatLng(place.y, place.x) 
                    });
                // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                //map.setBounds(bounds);
            }
        }
    </script>
    </div>
    {%endfor%}
        
    </div>
        <div class="container" id="text" style="border: 3px solid #1b2b84;background-color: rgb(191, 214, 243,0.5);margin-top: 30px;margin-bottom:10px;">
                {%for content in t.all%}

                {% if title == content.title%}
                <h5 class="card-title">{{content.name}} :  {{content.text}}</h5>
                {% endif %}

                {%if user.username == content.name %}
                    <a href="{% url 'delete' content.id %}">삭제</a> 
                {%else%}
                    <a href="{% url 'delete' content.name %}" style="display:none;">삭제</a>
                {%endif%}

                {% endfor %}
            
                {% if user.is_authenticated %}
                <form action="{%url 'text' title%}" method="GET">
                    <input type="text" name="text1">
                    <button type="submit" class="btn-search">
                        입력
                    </button>
                </form>
                {% else %}
                <form action="{%url 'text' title%}" method="GET" style="display:none;">{{title}}
                    <input type="text" name="text1">
                    <button type="submit" class="btn-search">
                    </button>
                </form>
                {% endif %}
                </div>
    </body>
</html>
{% endblock %}