<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="con1">
        <a href="/"><h1>Korea Film Location</h1></a>
        <form action="/parse" method="POST">
        {% csrf_token %}
        <input type="text" name="parse_url" size="40">
        <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="con2">
        <h2>{{ title }}</h2>
        <p>{{contents}}</p>
    </div>
</body>
</html>