html { 
    background: #cadbe9;
}

.container{
    position:absolute;
    top:30%; left:50%;
    transform: translate(-50%, -50%);
}

.nemo {
    border-radius: 5px 5px 5px 5px;
    border: 3px solid #1b2b84;
}