html { 
    background: #cadbe9;
}

form{
    background: white;
    border-radius: 5px 5px 5px 5px;
    border: 4px solid #1b2b84;
    padding: 10px;
    margin: 15px 0 0 0;
}

.btn{
    background: #30A9DE;
    border: none;
    outline: none;
    height: 40px;
}

input{
    width: 330px;
    height: 35px;
    margin: 0 0 7px 10px;
    font-size: 15px;
}
p{
    margin: 5px 0 0 10px;
}