@font-face { 
    font-family: 'GyeonggiBatang'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'NanumSquareRound'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}    
html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    background: url(road.jpg) no-repeat center center fixed; 
    height: 100vh;
}

input{
    font-family: 'GyeonggiBatang'; 
    position: relative;
    width: 500px;
    height: 70px;
    padding: 0 0 0 10px;
    display: inline-block;
    float: left; 
    color: #666;
    border: 0 none;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
    outline: none;
}

button {
    width: 70px;
    height: 70px;
    border: 0 none;
    background: white;
    border-radius: 0 5px 5px 0;
    outline: none;
}

.search {
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    border-radius: 5px 5px 5px 5px;
    border: 3px solid #1b2b84;
}

.logo{
    position:absolute;
    top:30%; left:50%;
    transform: translate(-50%, -50%);
}
p {
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'NanumSquareRound'; 
    display: block;
    position: absolute;
    top: 57%;
    left: 40%;
}
.sign{
    position: fixed;
    right: 3%;
    display: flex;
}