html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    background: url(road.jpg) no-repeat center center fixed; 
    height: 100vh;
}

input{
    position: relative;
    width: 500px;
    height: 70px;
    padding: 0 0 0 10px;
    display: inline-block;
    float: left;
    color: #666;
    border: 0 none;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
    outline: none;
}

button {
    width: 70px;
    height: 70px;
    border: 0 none;
    background: white;
    border-radius: 0 5px 5px 0;
    outline: none;
}

.search {
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    border-radius: 5px 5px 5px 5px;
    border: 3px solid #1b2b84;
}

.logo{
    position:absolute;
    top:30%; left:50%;
    transform: translate(-50%, -50%);
}