<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>홈화면</h3>
    <br><br><br><br><br>
    <form action="{% url 'parse' %}" method="GET">
        제목을 검색할 때 띄어쓰기를 꼭 해주세요<br>
        {% csrf_token %}
        <input type="text" name="parse_url" size="40">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</body>
</html>